In [ ]:
import math
import pandas as pd
import statistics

In [ ]:
stichprobe = [6, 5.5, 5, 6, 5.5]

df = pd.DataFrame(stichprobe, columns=["Schlafstunden"])

mittelwert = df.mean()

print(mittelwert)

df

Schlafstunden    5.6
dtype: float64

   Schlafstunden
0            6.0
1            5.5
2            5.0
3            6.0
4            5.5

In [ ]:
df = pd.DataFrame({ "h":[6.0, 5.5, 5.0, 6.0, 5.5], # Spalte 1 
                    "x_quer":[5.6, 5.6, 5.6, 5.6, 5.6], # Spalte 2
                    "h - x_quer":[6.0 - 5.6, 5.5 - 5.6, 5.0 - 5.6, 6.0 - 5.6, 5.5 - 5.6], # Spalte 3
                    "(h - x_quer)_quadrat":[(6.0 - 5.6) ** 2, (5.5 - 5.6) ** 2, (5.0 - 5.6) ** 2, (6.0 - 5.6) ** 2, (5.5 - 5.6) ** 2]}, # Spalte 4
                    index=["Schüler 1", "Schüler 2", "Schüler 3", "Schüler 4", "Schüler 5"])

df

             h  x_quer  h - x_quer  (h - x_quer)_quadrat
Schüler 1  6.0     5.6         0.4                  0.16
Schüler 2  5.5     5.6        -0.1                  0.01
Schüler 3  5.0     5.6        -0.6                  0.36
Schüler 4  6.0     5.6         0.4                  0.16
Schüler 5  5.5     5.6        -0.1                  0.01