In [16]:
# import pandas as pd

df = pd.read_csv("bookstore.csv")

# # Aufgabe 1

# df.head(2)
df.tail(2)

,Title,Author,Publication Year,List Price,Sale Price,Condition
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [19]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

df.columns[0]

'Title'

In [20]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

print(df.index[29])

29