In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("bookstore.csv")

# Aufgabe 1 (Buchtitel und Erscheinungsjahr)

# display(df.loc[:, ["Title", "Publication Year"]])

# Aufgabe 2 (Die Zeilen mit den Indexnummern 5,6,10 und 21)

# display(df.iloc[[5, 6, 10, 21]])

# Aufgabe 3 (Der Buchtitel und der Verkaufspreis aus Zeile 19)

# display(df.loc[19, ["Title", "Sale Price"]])

# Aufgabe 4 (Die letzten 3 Zeilen ohne den Zustand)

df.tail(3).drop(columns="Condition")

,Title,Author,Publication Year,List Price,Sale Price
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29