In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bookstore.csv")

In [6]:
df.loc[:, "Added Price"] = df.loc[:, "List Price"] + df.loc[:, "Sale Price"]

# display(df.head())

df.loc[:, "Price Diff"] = df.loc[:, "List Price"] - df.loc[:, "Sale Price"]

# display(df.head())

df.loc[:, "Reduction Ratio"] = df.loc[:, "Price Diff"] / df.loc[:, "List Price"]

display(df.head())

,Title,Author,Publication Year,List Price,Sale Price,Condition,Added Price,Price Diff,Reduction Ratio
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new,10.68,5.30,0.663329
1,The Bible,International Bible Society,2003,7.50,2.49,like new,9.99,5.01,0.668000
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,21.44,18.46,0.925313
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good,21.24,18.66,0.935338
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good,27.54,22.36,0.896192