In [5]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

df.describe()

# type(df.describe())

       Publication Year  List Price  Sale Price
count          30.00000   30.000000   30.000000
mean         2000.40000   11.679333    1.593333
std             6.28408    7.406566    0.500678
min          1978.00000    5.950000    0.990000
25%          1998.25000    6.990000    1.290000
50%          2003.00000    7.990000    1.290000
75%          2004.75000   17.460000    1.940000
max          2006.00000   26.950000    2.690000

In [46]:
kennzahlen = df.describe()

kennzahlen = kennzahlen.reset_index(drop=False)

kennzahlen.loc[1:2]

  index  Publication Year  List Price  Sale Price
1  mean        2000.40000   11.679333    1.593333
2   std           6.28408    7.406566    0.500678