In [16]:
import pandas as pd

# series

# series_1 = pd.Series([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

# series_1

# df_1 (Tik Tak Toe)

# df_1 = pd.DataFrame([["X","O","O"], ["O","X","O"], ["O","O","X"]])

# df_1

# df_2 (Lebensmittel)

df_2 = pd.DataFrame([["Äpfel",52,0.3,0.2], ["Hähnchenbrust",165,31,3.6], ["Reis",130,2.7,0.3]], columns=["Lebensmittel", "kcal", "Eiweiß", "Fett"], index=[65, 66, 67])

df_2

# df_3 (Personen)

# df_3 = pd.DataFrame([["Luke Skywalker","19 Jahre"], ["Darth Vader","45 Jahre"], ["Leia Organa","19 Jahre"], ["Yoda","900 Jahre"]])

# df_3

     Lebensmittel  kcal  Eiweiß  Fett
65          Äpfel    52     0.3   0.2
66  Hähnchenbrust   165    31.0   3.6
67           Reis   130     2.7   0.3