In [1]:
import pandas as pd

df = pd.DataFrame({"Spalte 1": [1,2,3], "Spalte 2": [4,5,6]}, index=["Zeile 1", "Zeile 2", "Zeile 3"])

display(df)

         Spalte 1  Spalte 2
Zeile 1         1         4
Zeile 2         2         5
Zeile 3         3         6

In [ ]:
import pandas as pd

df = pd.DataFrame({"Item 1": ["Diamant","Erz","nicht verzauberbar"], "Item 2": ["Eisenspitzhacke","Werkzeug","verzauberbar"], "Item 3": ["Goldapfel","Nahrung","nicht verzauberbar"]}, 
index=["Was ?", "Kategorie", "Zauber"])

display(df)

                       Item 1           Item 2              Item 3
Was ?                 Diamant  Eisenspitzhacke           Goldapfel
Kategorie                 Erz         Werkzeug             Nahrung
Zauber     nicht verzauberbar     verzauberbar  nicht verzauberbar

In [4]:
import pandas as pd

df = pd.DataFrame({"Produkt 1": ["Laptop",1200.50,"Media Markt","25.03.25"], "Produkt 2": ["Maus",25.99,"Amazon","24.03.25"], "Produkt 3": ["Headset",60,"Saturn","28.03.25"]}, 
index=["Was ?", "Preis in €", "Lieferant", "Lieferdatum"])

display(df)

               Produkt 1 Produkt 2 Produkt 3
Was ?             Laptop      Maus   Headset
Preis in €        1200.5     25.99        60
Lieferant    Media Markt    Amazon    Saturn
Lieferdatum     25.03.25  24.03.25  28.03.25